		<div class="content">
		  <h1>Once upon a time...</h1>
      <%= redcloth(@storybit.body) %>
      <div class="descr">Submitted by <%= @storybit.name %> :: Comments: <%= @storybit.comments.count %></div>                  
		
  		<div class="comments">
        <% @storybit.comments.each do |comment| %>
          <blockquote>
            <%= redcloth(comment.body) %>
            <div class="descr">Submitted by <%= h comment.name %></div>
          </blockquote>
        <% end %>
	    </div>
		</div>
		
		<form action="/comments" method="post">
		  <label for="name">Your Name:</label><br />
		  <input type="text" name="name" id="name" /><br />
		  
		  <label for="body">Your Comment:</label><br />
		  <textarea name="body" id="body"></textarea><br />
		  
		  <input type="hidden" name="id" value="<%= @storybit.id %>" />
		  <input type="submit" value="Add This Comment" />
	  </form>