		<div class="content">
		  <h1>Once upon a time...</h1>
		  <% if @storybits.nil? || @storybits.count == 0 %>
		    <h2>...the end!</h2>
		  <% end %>
      <% @storybits.each do |storybit| %>
        <%= redcloth(storybit.body) %>
        <div class="descr">
          Submitted by <%= h storybit.name %> :: <a href="/comments/<%= storybit.id %>">
          Comments: <%= storybit.comments.count %></a><br />
          Tags: 
          <% storybit.tags.each do |tag| %>
            <a href="/tags/<%=tag%>"><%= tag %></a>
          <% end %>
        </div>                  
      <% end %>		  
		</div>
		
		<form action="/" method="post">
		  <label for="name">Your Name:</label><br />
		  <input type="text" name="name" id="name" /><br />
		  
		  <label for="body">Your Entry:</label><br />
		  <textarea name="body" id="body"></textarea><br />
		  
		  <label for="tags">Tags: (optional, separate with a space)</label><br />
		  <input type="text" name="tags" id="tags" /><br />
		  
		  <input type="submit" value="Add to the Story" />
	  </form>